@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    box-sizing: border-box; }

a:before, a:after {
  box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  border-radius: 0;
  box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #000; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  word-wrap: break-word; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html {
  height: 100%;
  font: 400 10px/1.33 'Montserrat'; }

body {
  height: 100%;
  font-size: 16px;
  background-color: #262626; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1rem; }

.card_w_slider {
  position: relative;
  overflow: hidden; }

.card_slider {
  position: relative;
  width: 56em;
  height: 36em; }
  .card_slider .slick-list,
  .card_slider .slick-track {
    height: 100%; }
  .card_slider .slick-track {
    position: absolute !important;
    width: 100% !important;
    top: 0;
    left: 0;
    transform: none !important; }

.card_slider_item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  padding: 0;
  float: none !important;
  opacity: 0;
  will-change: transform;
  transform: translateZ(0); }

.card_slider_decor {
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 10;
  height: 100%;
  width: 0;
  transform: skew(-25deg);
  transform-origin: right;
  transition: width 0.3s ease-in-out;
  background-color: #111; }
  .card_slider_decor.active_mod {
    width: 150%; }

.card_block {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36em;
  padding: 2em;
  margin: 0 auto;
  background: #fff;
  overflow: hidden; }

.card_w_label {
  position: relative;
  margin-bottom: 2em; }

.card_label {
  display: inline-flex;
  padding: 0.5em 1em;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background: cornflowerblue;
  border-radius: 5em; }

.card_block_w_descr {
  position: relative;
  max-width: 26.8em;
  width: 100%; }

.card_block_title {
  position: relative;
  font-size: 3.2em;
  line-height: 1;
  font-weight: 500;
  color: #111; }
  .card_block_title.offset_mod {
    margin-bottom: 0.625em; }

.card_block_descr {
  position: relative;
  font-size: 1.2em;
  line-height: 1.4;
  color: #aaa; }
  .card_block_descr.offset_mod {
    margin-bottom: 1.66667em; }

.card_block_w_button {
  position: relative;
  display: flex;
  flex-direction: row; }

.btn_base {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.83333em 1.16667em;
  font-size: 1.2em;
  color: #111;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid #aaa;
  transition: all 0.5s ease; }
  .btn_base:after {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: -1;
    width: 0%;
    height: 100%;
    background: #111;
    transform: skew(-25deg);
    transform-origin: right;
    transition: width 0.3s ease-in-out;
    content: ""; }
  .btn_base:hover, .btn_base:focus {
    color: #fff; }
  .btn_base:hover {
    color: #fff; }
    .btn_base:hover:after {
      width: 150%;
      left: -10px;
      transform-origin: left; }
  .card_block_w_button .btn_base:nth-of-type(1) {
    border-radius: 4.16667em 0 0 4.16667em;
    border-right: none; }
  .card_block_w_button .btn_base:nth-of-type(2) {
    border-radius: 0 4.16667em 4.16667em 0; }

.card_block_w_img {
  position: absolute;
  right: 0;
  width: 27.2em;
  bottom: -6em;
  height: 42em; }

.card_block_img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover; }
